* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  min-height: 250px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.front {
  background-color: #0d6efd;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: #198754;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
